 .blogInfo {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     color: var(--textSoft);
 }

 .blogInfo .authorInfo {
     display: flex;
     gap: 10px;
     margin: 10px 0;
     align-items: center;
     font-size: 16px;
 }

 .authorImage {
     position: relative;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
 }

 .blogInfo .authorInfo .authorDetails {
     display: flex;
     flex-direction: column;
     gap: 5px;
     margin: 10px 0;
     align-items: start;
 }

 .blogInfo .date {
     font-size: 12px;
     text-align: center;
 }