.container {
    display: flex;
    gap: 100px;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputField {
    padding: 20px 10px;
    background-color: var(--bgSoft);
    border: none;
    color: white;
    border-radius: 10px;
    outline: none;

}

.form button {
    background-color: var(--btn);
    color: white;
    border: none;
    padding: 14px 0px;

    border-radius: 10px;
}

.form .inputField:nth-last-child(2) {
    height: 150px;
    padding: 20px 10px;

}

.imagecontainer {
    flex: 1;
    position: relative;
}