.container {
    display: flex;
    gap: 100px;


}

.textcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.aboutHeading {
    color: var(--btn);
}

.textcontainer h1 {
    font-size: 36px;
    font-weight: bold;
}

.textcontainer p {
    font-size: 16px;
    font-weight: normal;

}



.projects {

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.projectHeading {
    font-size: 24px;
    color: var(--btn);
    border-radius: 5px;
    font-weight: bold;
}

.projectBody {
    /*padding: 10px 20px;
    */
    border: none;
    font-size: 16px;
    color: var(--text);
    border-radius: 5px;

}

.info {
    /* background-color: red; */
    padding: 20px 10px;
}

.imagecontainer {
    flex: 1;
    position: relative;
}